# Development folders and files #
#################################
.tmp/
# __drafts__/
__blog-dev-files__/
__blog-post-dev-files__/
dist/
node_modules/

# Documents #
#############
*.odt

# Folder config file #
######################
Desktop.ini

# Folders for inspiration & notes #
###################################
__blog-post-thumbnails__/
__ignore__/

# Log files & folders #
#######################
logs/
*.log
npm-debug.log*
.npm

# Images #
##########
*.jpg
*.jpeg
*.png
*.svg

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Miscellaneous files #
#######################
*.pdf
*.png
*.xmind

# Photoshop & Illustrator files #
#################################
*.ai
*.eps
*.psd

# Windows & Mac file caches #
#############################
.DS_Store
Thumbs.db
ehthumbs.db

# Windows shortcuts #
#####################
*.lnk

# WordPress exports #
#####################
*.xml
